h1{
    text-align:center; 
    font-size: 60px;
    margin: 80px auto 10px;
    font-family: 'Outfit', sans-serif;

}
.desc{
    text-align:center;
    font-size: 30px;
    font-family: 'Outfit', sans-serif;
}
.home-vespa{
    max-width:900px;
    max-height: 600px;
    display:block;
    margin:100px auto;
}

button{
    border-radius:40px;
    font-family: 'Outfit', sans-serif;
    width: 400px;
    height:100px;
    font-size:20px;
    background:none;
}
[class^="button"]{
    width: 400px;
    display: inline-block;
}
.button-right{
    float:right;
}
.bAlign{
    max-width: 1000px;
    margin: 150px auto;
}
button:active{
    background: lightgray;
}
.timeline{
    text-align:center;
    margin: 20px auto;
}
.top-row{
    margin: 100px auto 0px;
    max-width:1300px;
    display:flex;
    justify-content: space-between;
}
.bottom-row{
    margin: 10px auto;
    max-width:1000px;
    display:flex;
    justify-content: space-between;
}
.year{
    max-width: 200px;
    font-family: 'Outfit', sans-serif;
}
.vMod{
    width:150px; 
    height:100px; 
    margin:0px auto; 
    display:block;
}
.vMod2{
    width:100px; 
    height:100px; 
    margin:0px auto; 
    display:block;
}
.line{
    width: 1000px; 
    border: solid black 2px; 
    margin: 0px auto;
}
.gal{
    margin: 10px auto;
    text-align:center;
}
.images{
    max-width:1210px;
    margin: 40px auto;
}
.tHistory{
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    margin: 70px auto;
    text-align:center;
    max-width: 800px;
}
.galVesp{
    height: 300px;
    width:400px; 
}
@media (max-width: 1000px){
    .line{
        width: 90%;
    }
    .year{
        width: 18%;
        font-size: 60%;
    }
    .vMod{
        width:75%; 
        height:60%; 
    }
    .vMod2{
        width: 50%;
        height: 50%;
    }
    .top-row{
        margin: 100px auto 8%;
    }
    .bottom-row{
        margin: 10px auto 20%;
    }
    h1{
        font-size:300%;
        margin: 80px auto 10%;
    }
}
@media (max-width: 830px){
    .home-vespa{
        max-width: 90%;
        max-height: 90%;
        margin:auto;
    }
    .bAlign{
        width: 300px;
        height: 250px;
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        margin: 10% auto;
    }
    button{
        margin: auto;
        width: 300px;
        font-size:15px
    }
    .tHistory{
        font-size:20px;
    }
    .images{
        width: 400px;
        margin: 10px auto;
    }
    .vMod{
        width:75%; 
        height:50%; 
    }
    
}
